$black: #333333;
$white: #fff;
$greyLight: #666666;
$greyDark: #444444;
$green:  #28a745;
// $green: #8ECB30;
$blue: #237588;
$bgColor: #f1f1f1;

$borderRadius: 4px;
$shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);